RewriteEngine on
RewriteRule ^(login|register|user)$ index.php?do=$1 [L]
RewriteRule ^login/(.*?)$ index.php?do=login&act=submit [L]
RewriteRule ^logout$ index.php?do=login&act=logout [L]
RewriteRule ^admin/x_time/([0-9]+)$ index.php?do=admin&act=x_time&id=$1  [L]
RewriteRule ^admin/delTime/([0-9]+)$ index.php?do=admin&act=delTime&id=$1  [L]
RewriteRule ^admin/(.*?)/([0-9]+)$ index.php?do=admin&act=$1&pNO=$2  [L]
RewriteRule ^admin/(.*?)$ index.php?do=admin&act=$1  [C]
RewriteRule ^user/(.*?)/([0-9]+)$ index.php?do=user&act=$1&pNO=$2  [L]
RewriteRule ^user/(.*?)$ index.php?do=user&act=$1 [C]
RewriteRule ^avatar/(.*?)$ index.php?do=user&act=saveAvatar?rndcode=$1 [L]
RewriteRule ^register/(.*?)$ index.php?do=register&key=$1 [L]
RewriteRule ^register-test/(.*?)$ index.php?do=register&act=$1 [L]
RewriteRule ^register-validate/(.*?)$ index.php?do=register&act=validate&key=$1 [L]
#RewriteRule ^search/([0-9])/(.*?)/(.*?)/([0-9]+)$ index.php?do=user&act=sgk&mode=$1&key=$2&she=$3&p=$4 [L]
#RewriteRule ^search/([0-9])/(.*?)/(.*?)$ index.php?do=user&act=sgk&mode=$1&key=$2&she=$3 [C]